@import "tailwindcss";

:root {
  --background: rgb(248, 247, 250);
  --background-overlay-multiplier: 1;
  --surface: rgb(255, 255, 255);
  --surface-overlay-multiplier: 1;
  --surface-bright: rgb(255, 255, 255);
  --surface-bright-overlay-multiplier: 1;
  --surface-light: rgb(238, 238, 238);
  --surface-light-overlay-multiplier: 1;
  --surface-variant: rgb(66, 66, 66);
  --surface-variant-overlay-multiplier: 2;
  --on-surface-variant: rgb(238, 238, 238);
  --primary: rgb(76, 57, 255);
  --primary-overlay-multiplier: 2;
  --primary-darken-1: rgb(31, 85, 146);
  --primary-darken-1-overlay-multiplier: 2;
  --secondary: rgb(168, 170, 174);
  --secondary-overlay-multiplier: 1;
  --secondary-darken-1: rgb(1, 135, 134);
  --secondary-darken-1-overlay-multiplier: 1;
  --error: rgb(255, 89, 62);
  --error-overlay-multiplier: 1;
  --info: rgb(0, 207, 232);
  --info-overlay-multiplier: 1;
  --success: rgb(39, 207, 113);
  --success-overlay-multiplier: 1;
  --warning: rgb(255, 159, 67);
  --warning-overlay-multiplier: 1;
  --on-primary: rgb(255, 255, 255);
  --on-secondary: rgb(255, 255, 255);
  --on-success: rgb(255, 255, 255);
  --on-info: rgb(255, 255, 255);
  --on-warning: rgb(255, 255, 255);
  --on-background: rgb(47, 43, 61);
  --on-surface: rgb(47, 43, 61);
  --grey-50: rgb(250, 250, 250);
  --grey-50-overlay-multiplier: 1;
  --grey-100: rgb(245, 245, 245);
  --grey-100-overlay-multiplier: 1;
  --grey-200: rgb(238, 238, 238);
  --grey-200-overlay-multiplier: 1;
  --grey-300: rgb(224, 224, 224);
  --grey-300-overlay-multiplier: 1;
  --grey-400: rgb(189, 189, 189);
  --grey-400-overlay-multiplier: 1;
  --grey-500: rgb(158, 158, 158);
  --grey-500-overlay-multiplier: 1;
  --grey-600: rgb(117, 117, 117);
  --grey-600-overlay-multiplier: 2;
  --grey-700: rgb(97, 97, 97);
  --grey-700-overlay-multiplier: 2;
  --grey-800: rgb(66, 66, 66);
  --grey-800-overlay-multiplier: 2;
  --grey-900: rgb(33, 33, 33);
  --grey-900-overlay-multiplier: 2;
  --skin-bordered-background: rgb(255, 255, 255);
  --skin-bordered-background-overlay-multiplier: 1;
  --skin-bordered-surface: rgb(255, 255, 255);
  --skin-bordered-surface-overlay-multiplier: 1;
  --on-surface-bright: rgb(0, 0, 0);
  --on-surface-light: rgb(0, 0, 0);
  --on-primary-darken-1: rgb(255, 255, 255);
  --on-secondary-darken-1: rgb(255, 255, 255);
  --on-error: rgb(255, 255, 255);
  --on-grey-50: rgb(0, 0, 0);
  --on-grey-100: rgb(0, 0, 0);
  --on-grey-200: rgb(0, 0, 0);
  --on-grey-300: rgb(0, 0, 0);
  --on-grey-400: rgb(0, 0, 0);
  --on-grey-500: rgb(255, 255, 255);
  --on-grey-600: rgb(255, 255, 255);
  --on-grey-700: rgb(255, 255, 255);
  --on-grey-800: rgb(255, 255, 255);
  --on-grey-900: rgb(255, 255, 255);
  --on-skin-bordered-background: rgb(0, 0, 0);
  --on-skin-bordered-surface: rgb(0, 0, 0);
  --border-color: rgb(47, 43, 61);
  --border-opacity: 0.16;
  --high-emphasis-opacity: 0.78;
  --medium-emphasis-opacity: 0.68;
  --disabled-opacity: 0.42;
  --idle-opacity: 0.04;
  --hover-opacity: 0.04;
  --focus-opacity: 0.12;
  --selected-opacity: 0.06;
  --activated-opacity: 0.16;
  --pressed-opacity: 0.14;
  --dragged-opacity: 0.1;
  --kbd: rgb(33, 37, 41);
  --on-kbd: rgb(255, 255, 255);
  --code: rgb(245, 245, 245);
  --on-code: rgb(0, 0, 0);
  --code-color: rgb(212, 0, 255);
  --overlay-scrim-background: rgb(76, 78, 100);
  --tooltip-background: rgb(74, 80, 114);
  --overlay-scrim-opacity: 0.5;
  --switch-opacity: 0.2;
  --switch-disabled-track-opacity: 0.3;
  --switch-disabled-thumb-opacity: 0.4;
  --switch-checked-disabled-opacity: 0.3;
  --shadow-key-umbra-color: rgb(47, 43, 61);
}

@theme inline {

  /* fonts */

  --font-sans: var(--font-public-sans), sans-serif;

  /* 🎨 Primary colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-darken-1: var(--primary-darken-1);
  --color-secondary: var(--secondary);
  --color-secondary-darken-1: var(--secondary-darken-1);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);

  /* 🎨 Text on top of colors */
  --color-on-primary: var(--on-primary);
  --color-on-secondary: var(--on-secondary);
  --color-on-success: var(--on-success);
  --color-on-info: var(--on-info);
  --color-on-warning: var(--on-warning);
  --color-on-error: var(--on-error);

  /* 🎨 Surface colors */
  --color-surface: var(--surface);
  --color-surface-light: var(--surface-light);
  --color-surface-bright: var(--surface-bright);
  --color-surface-variant: var(--surface-variant);
  --color-skin-bordered-background: var(--skin-bordered-background);
  --color-skin-bordered-surface: var(--skin-bordered-surface);

  /* 🎨 Text on top of surfaces */
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-on-surface-light: var(--on-surface-light);
  --color-on-surface-bright: var(--on-surface-bright);

  /* 🎨 Greyscale */
  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
  --color-grey-500: var(--grey-500);
  --color-grey-600: var(--grey-600);
  --color-grey-700: var(--grey-700);
  --color-grey-800: var(--grey-800);
  --color-grey-900: var(--grey-900);

  /* 🎨 Text on top of greys */
  --color-on-grey-50: var(--on-grey-50);
  --color-on-grey-100: var(--on-grey-100);
  --color-on-grey-200: var(--on-grey-200);
  --color-on-grey-300: var(--on-grey-300);
  --color-on-grey-400: var(--on-grey-400);
  --color-on-grey-500: var(--on-grey-500);
  --color-on-grey-600: var(--on-grey-600);
  --color-on-grey-700: var(--on-grey-700);
  --color-on-grey-800: var(--on-grey-800);
  --color-on-grey-900: var(--on-grey-900);

  /* 🎨 General accessibility */
  --color-on-background: var(--on-background);
  --color-border: var(--border-color);
  --color-code: var(--code);
  --color-on-code: var(--on-code);
  --color-code-accent: var(--code-color);
  --color-kbd: var(--kbd);
  --color-on-kbd: var(--on-kbd);
  --color-tooltip-background: var(--tooltip-background);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0, 0, 0);
      --background-overlay-multiplier: 1;
  --surface: rgb(18, 18, 18);
  --surface-overlay-multiplier: 1;
  --surface-bright: rgb(30, 30, 30);
  --surface-bright-overlay-multiplier: 1;
  --surface-light: rgb(38, 38, 38);
  --surface-light-overlay-multiplier: 1;
  --surface-variant: rgb(60, 60, 60);
  --surface-variant-overlay-multiplier: 2;
  --on-surface-variant: rgb(200, 200, 200);
  --primary: rgb(130, 146, 255);
  --primary-overlay-multiplier: 2;
  --primary-darken-1: rgb(76, 103, 173);
  --primary-darken-1-overlay-multiplier: 2;
  --secondary: rgb(144, 149, 161);
  --secondary-overlay-multiplier: 1;
  --secondary-darken-1: rgb(0, 119, 118);
  --secondary-darken-1-overlay-multiplier: 1;
  --error: rgb(255, 105, 97);
  --error-overlay-multiplier: 1;
  --info: rgb(64, 213, 255);
  --info-overlay-multiplier: 1;
  --success: rgb(73, 220, 143);
  --success-overlay-multiplier: 1;
  --warning: rgb(255, 183, 77);
  --warning-overlay-multiplier: 1;
  --on-primary: rgb(0, 0, 0);
  --on-secondary: rgb(0, 0, 0);
  --on-success: rgb(0, 0, 0);
  --on-info: rgb(0, 0, 0);
  --on-warning: rgb(0, 0, 0);
  --on-background: rgb(230, 230, 230);
  --on-surface: rgb(230, 230, 230);
  --grey-50: rgb(66, 66, 66);
  --grey-50-overlay-multiplier: 1;
  --grey-100: rgb(74, 74, 74);
  --grey-100-overlay-multiplier: 1;
  --grey-200: rgb(90, 90, 90);
  --grey-200-overlay-multiplier: 1;
  --grey-300: rgb(105, 105, 105);
  --grey-300-overlay-multiplier: 1;
  --grey-400: rgb(130, 130, 130);
  --grey-400-overlay-multiplier: 1;
  --grey-500: rgb(153, 153, 153);
  --grey-500-overlay-multiplier: 1;
  --grey-600: rgb(180, 180, 180);
  --grey-600-overlay-multiplier: 2;
  --grey-700: rgb(200, 200, 200);
  --grey-700-overlay-multiplier: 2;
  --grey-800: rgb(220, 220, 220);
  --grey-800-overlay-multiplier: 2;
  --grey-900: rgb(245, 245, 245);
  --grey-900-overlay-multiplier: 2;
  --skin-bordered-background: rgb(24, 24, 24);
  --skin-bordered-background-overlay-multiplier: 1;
  --skin-bordered-surface: rgb(24, 24, 24);
  --skin-bordered-surface-overlay-multiplier: 1;
  --on-surface-bright: rgb(255, 255, 255);
  --on-surface-light: rgb(255, 255, 255);
  --on-primary-darken-1: rgb(0, 0, 0);
  --on-secondary-darken-1: rgb(0, 0, 0);
  --on-error: rgb(0, 0, 0);
  --on-grey-50: rgb(255, 255, 255);
  --on-grey-100: rgb(255, 255, 255);
  --on-grey-200: rgb(255, 255, 255);
  --on-grey-300: rgb(255, 255, 255);
  --on-grey-400: rgb(255, 255, 255);
  --on-grey-500: rgb(0, 0, 0);
  --on-grey-600: rgb(0, 0, 0);
  --on-grey-700: rgb(0, 0, 0);
  --on-grey-800: rgb(0, 0, 0);
  --on-grey-900: rgb(0, 0, 0);
  --on-skin-bordered-background: rgb(255, 255, 255);
  --on-skin-bordered-surface: rgb(255, 255, 255);
  --border-color: rgb(100, 100, 100);
  --border-opacity: 0.24;
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.67;
  --disabled-opacity: 0.38;
  --idle-opacity: 0.06;
  --hover-opacity: 0.06;
  --focus-opacity: 0.18;
  --selected-opacity: 0.08;
  --activated-opacity: 0.24;
  --pressed-opacity: 0.2;
  --dragged-opacity: 0.16;
  --kbd: rgb(230, 230, 230);
  --on-kbd: rgb(0, 0, 0);
  --code: rgb(40, 44, 52);
  --on-code: rgb(255, 255, 255);
  --code-color: rgb(190, 140, 255);
  --overlay-scrim-background: rgb(15, 15, 15);
  --tooltip-background: rgb(46, 50, 66);
  --overlay-scrim-opacity: 0.7;
  --switch-opacity: 0.3;
  --switch-disabled-track-opacity: 0.2;
  --switch-disabled-thumb-opacity: 0.3;
  --switch-checked-disabled-opacity: 0.25;
  --shadow-key-umbra-color: rgb(0, 0, 0);
  }
} */

* {
    padding: 0;
    margin: 0;
}

body {
  background: var(--background);
  color: var(--on-background);
  font-family: var(--font-sans);
  height: 100lvh;
}
