@import "tailwindcss";

:root {
  --background: rgb(248, 247, 250);
  --primary: rgb(76, 57, 255);
  --secondary: rgba(44, 180, 234, 0.991);
  --secondary-light: rgba(173, 232, 255, 0.991);
}

@theme inline {

  /* fonts */

  --font-sans: var(--font-public-sans), sans-serif;

  /* 🎨 Primary colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary: var(--secondary);
}


body {
  background: var(--background);
  color: var(--on-background);
  font-family: var(--font-sans);
  height: 100lvh;
}
